@import "tailwindcss";

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply bg-white text-slate-800 font-sans transition-colors duration-300;
    background-color: #ffffff;
  }
}

.glass-card {
  @apply bg-white/10 backdrop-blur-lg border border-white/20 shadow-xl rounded-2xl;
}